.cheader{
    background-image: url(images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 0px 0px;
   
    
}
nav{
    margin: 0px 0px;
    display: flex;
    align-items: center;
    padding: 2%;
}
nav a{
    color: white;
    margin-right: 20px;
    text-decoration: none;
}
nav img{
    margin-right: auto;
}
.navicons{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.headermain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 50px;
    gap: 10px;
    align-items: center;
    margin-top: 0px;
    
}
button{
    width: 162px;
    height: 44px;
    background: #ff6565;
    border-radius: 22px;
    color: white;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin: auto;
    border-width: 0PX;
}
.headermain h1{
    font-size: 32PX;
    font-weight: bold;
    color: white;
    padding-top: 205px;
    text-align: center;
}
.headermain h2{
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}
.headermain p{
    font-size: 16px;
    margin-top: 70px;
    color: white;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
p{
    font-size: 16px;
    margin-top: 50px;
    color: white;
    text-align: center;
}
.whatwedo{
    background-color:white;
    color: #071629;
    margin-top: 100px;
    margin-bottom: 50px;
}
.whatwedo p{
    padding-left: 25%;
    padding-right: 25%;
}
.ourresultscards{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    margin-top: 80px;
}
.freq{
    align-items: center;
    text-align: center;
}
.freq p{
    font-size: 14px;
    color: #071629;
    margin-top: 10px;
    text-align: center;
}
.freq h2{
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}
.freq img{
    width: 95px;
    height: 65px;
}
.dark{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 0px 0px;
    color: white;
    padding-top: 60px;
    font-size: 16px;
    font-weight: 20;
    margin-top: 50px;
    padding-bottom: 30px;

}
.darkcards{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    margin-top: 30px;
}
.dark p{
    padding-left: 25%;
    padding-right: 25%;
}
.contactus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    gap: 20px;
    padding-top: 70px;
    align-items: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    width: 100%;
    max-width: 400px;
    border: none;
}
h2{
    color: #071629;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}
h1{
    text-align: center
}
.contact-form label {
    display: block;
    margin-bottom: 0px;
    font-weight: bold;
}
.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 0px;
    margin-bottom: 15px;
    border-bottom: 2px solid #071629;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.contact-form button{
    width: 162px;
    height: 44px;
}
.futaicon{
    
}
.icons img{
    margin-left: auto;
    justify-content: space-between;
}
.futa{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #071629;
    padding: 5% 5%;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    
}
.bigdiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.futa p{
    font-size: 12px;
}
.futaicon img{
    margin-right: auto;
}
a:hover{
    color: #FF6565;
}
button:hover{
    opacity: 0.9;
}

/* Implementing responsive design*/

@media (max-width: 600px){
.hamicon{
    width: 20px;
    height: 30px;
    color: white;
}


nav{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.alinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: auto;
    padding-left: 25%;
    padding-right: 25%;
}
.navicons{
    margin: auto;
    align-items: flex-start;
    justify-content: space-between;
}
.headermain p{
    font-size: 16px;
    margin-top: 70px;
    color: white;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.whatwedo p{
    padding-left: 5%;
    padding-right: 5%;
}
.dark p{
    padding-left: 5%;
    padding-right: 5%;
}
.ourresultscards{
    display: flex;
    flex-wrap: wrap;
}
.freq{
    width: 60%;
    height: 50%;
    gap: 0px;
    align-items: center;
}
.darkcards{
    display: flex;
    flex-wrap: wrap;
}
.darkcards img{
    width: 60%;
    height: 50%;
}
.contactus{
    padding-left: 10%;
    padding-right: 10%;
}
.bigdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0%;
    padding-right: 0%;
    
}
.futa{
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
}
.futa p{
    text-align: center;
}
.icons img{
    width: 25%;
    height: 25%;
}
.icons{
    align-self: center;
    margin-left: auto;
}
.futaicon img{
    margin-right: auto
}
}