.homepage{
    background-image: url(/media/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.testimonial1{
    background-color: rgba(194, 113, 255, 1);
}
.tescard{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.card{
    margin: 20px;
    text-align: center;
}
.card h3, .card p{
margin: 5px;
}
nav{
    display: flex;
    align-items: center;
    margin: 0px 50px;
    padding-top: 15px;
}
nav img{
    width: 100px;
    height: 15px;
}
a{
    text-decoration: none;
    display: inline-block;
    color: white;
    margin: 10px;
    font-size: 8px;
}
.started{
    margin-top: 80px;
    text-align: center;
}
.pros{
    text-align: center;
}